
.player-options-list-ul{
  list-style: none;
}
.player-options-list-li{
  display: inline-flex;
}
.player-options-div{
  text-align:center;
}
.player-options-div1{
  text-align:center;
}
.time-slider {
  width: 100%!important;
}











/* 
.container.main-toolbar.spacer {
      flex: 1 1 auto;
}
.container.main-toolbar.toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
}

.content.logo {
      margin: 2.5rem;
      text-align: center;
      font-size: 24px;
      color: #3f51b5;
}
.content.logo.mat-icon {
  height: 160px !important;
  width: 160px !important;
  font-size: 160px !important;
}

.media-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.media-footer

.media-footer.media-action-bar{
  width: 100%;
  padding: 2.5rem;
  justify-content: center;
}
    
.media-footer.media-action-bar.mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
}
    */