.toolbar{
    border: 1px;
    box-shadow: 10px;
    background-color: white;
}
.toolbarLogo{
    width: 100px;
    height: 30px;
}
.profile-img{
    width: 35px;
    height: 36px;
    border-radius: 20px;
}

.header-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.user-actions-item {
    align-items:inherit;
    display: block;
    position:relative;
    margin: 10px;
}

.backToHomebtn:hover {
    background-color: orange;
}
